{% extends 'crudrh/main.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{% static '/css/main.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <div class="container">
      <div class="card card-body">
          <ul class="list-group">
              {% for competencia in competencias %}
              <li class="list-group-item"><strong>Descripcion:</strong> {{competencia.descripcion}}</li>
              <li class="list-group-item"><strong>Estado:</strong> {{competencia.estado}}</li>
              {% endfor %}
          </ul>
          <td><a class="btn btn-secondary" href="/competencias">Atras<span class="sr-only">(current)</span></a></td>
      </div>
  </div>
{% endblock content %}


